@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;

  &__label {
    @include font-size('sm');

    display: block;
    margin-block: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $color-neutral-03;
  }

  &__input {
    @include font-size('xl');

    width: 100%;
    padding-block: 0.875rem;
    padding-inline: 0.5rem;
    font-weight: 700;
    border: 1px solid $color-neutral-02;
    border-radius: 0.5rem;
  }

  &__field {
    @include field-reset;

    &--custom {
      @include field-reset;

      position: relative;
      grid-column: 1 / -1;
      margin-block-start: 1rem;
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    width: 100%;
    border: 1px solid $color-neutral-02;
  }

  &__submit {
    position: relative;
    z-index: 200;
    display: block;
    width: fit-content;
    padding: 1em;
    margin-inline: auto;
    border: none;
    border-radius: 9999px;
    background-color: $color-primary-00;
    color: $color-neutral-00;

    &:hover {
      transform: scale(1.05);
      filter: brightness(1.1);
      transition: transform 300ms ease-in-out;
    }

    &:active {
      transform: scale(0.95);
      filter: brightness(0.9);
    }
  }
}

@media screen and (min-width: 768px) {
  .form {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2rem;
    row-gap: 0;

    &__field {
      width: fit-content;

      &--custom {
        margin-block-start: 0;
      }
    }

    &__input {
      @include font-size('2xl');

      width: 128px;
    }

    &__submit {
      margin-inline: 0;
      margin-inline-start: auto;
    }
  }
}