/* Colors */
$color-primary-00: hsl(259, 100%, 65%);
$color-primary-01: hsl(0, 100%, 67%);

$color-neutral-00: hsl(0, 0%, 100%);
$color-neutral-01: hsl(0, 0%, 94%);
$color-neutral-02: hsl(0, 0%, 86%);
$color-neutral-03: hsl(0, 1%, 44%);
$color-neutral-04: hsl(0, 0%, 8%);

/* Fonts */
$font-sizes: 'xs' 0.75rem 1rem, 'sm' 0.875rem 1.25rem, 'md' 1rem 1.5rem, 'lg' 1.125rem 1.75rem, 'xl' 1.25rem 2rem, '2xl' 1.5rem 2.25rem, '3xl' 1.875rem 2.5rem, '4xl' 2.25rem 2.75rem, '5xl' 3rem 3.5rem, '6xl' 3.75rem 4.25rem, '7xl' 4.5rem 5rem, '8xl' 6rem 6.5rem, '9xl' 8rem 8.5rem;